.pokemons{
    max-width: 1365px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    font-family: 'Roboto',"Arial", sans-serif;
}

.pokemons__form{
    max-width: 1200px;
}

.input{
    max-width: 250px;
    width: 100%;
    border: 2px solid #000000;
    border-radius: 15px;
    &+&{
        margin-left: 20px;
    }
}

.button{
    max-width: 200px;
    width: 100%;
    border-radius: 15px;
    background-color: #ffffff;
    margin-left: 20px;
}

.pokemons__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 25px;
}

.pokemons__item {
    max-width: 307px;
    width: 100%;
}

.pokemons__wh{
    font-size: 24px;
}

.inner{
    border-radius: 20px;
    border: 2px solid #000000;
}

.inner__box{
    border-top: 2px solid rgb(48, 47, 47);
}

.pokemons__heading {
    display: block;
    &:after{
        content: "";
        width: 30px;
        height: 30px;
        display: inline-block;
        background-image: url("..//image/Mask.svg");
        background-size: 30 30;
        background-repeat: no-repeat;
        background-position: center right 0;
        margin: auto 0;
        margin-left: 80px;
        vertical-align: middle;

    }
}

.pokemons__typeitem:nth-child(1){
    margin-right: 10px;
}

.pokemons__paragraph{
    font-weight: 500;
}


@media only screen and (max-width:1111px){
    .input-weight{
        margin-left: 0;
        margin-top: 24px;
    }

    .pokemons__heading{
        &::after{
            margin-left: 20px;
        }
    }

}

@media only screen and (max-width:1000px){
    .pokemons__list{
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
    }
}

@media only screen and (max-width:830px){
    .input-type{
        margin-top: 24px;
        margin-left: 0;
    }

    .input{
      max-width: 300px;

        &:nth-child(3){
            margin-left: 0;
        }

        &:nth-child(5){
            margin-left: 0;
        }
    }

    .pokemons__logo{
        width: 500px;
    }

    .pokemons__wh{
        font-size: 22px;
    }
}

@media only screen and (max-width:725px){
    .pokemons__wh{
        font-size:18px;
    }
}

@media only screen and (max-width:660px){
    .input{
        max-width: 200px;
    }
}

@media only screen and (max-width:630px){
    .pokemons__logo{
        width: 400px;
    }
    
    .pokemons__list{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width:450px){
    .pokemons__heading{
        &::after{
            margin-left: 60px;
        }
    }

    .pokemons__logo{
        width: 300px;;
    }

    .pokemons__form{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .input{
        max-width: 350px;
        width: 100%;
        margin: 0;
        margin: 0 auto;
        &:nth-child(2){
            margin: 0;
            margin: 24px auto;
        }
        &:nth-child(3){
            margin: 0;
            margin: 0 auto; 
            margin-bottom: 24px;
        }
        &:nth-child(4){
            margin: 0;
            margin: 0 auto;
        }
        &:nth-child(5){
            margin: 0;
            margin: 0 auto;
        }
    }
    .button{
        margin: 0;
        margin: 0 auto;
    }

    .pokemons__list{
        grid-template-columns: 1fr;
    }

    .pokemons__item{
        margin: 0 auto;
    }
}